@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/inconsolata-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/inconsolata-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

html {
  font-family: 'Inconsolata', monospace;
  scroll-behavior: smooth;
}

.portrait img {
  aspect-ratio: 3/4;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  padding: 0 3px;
  margin: 0 -3px;
  background-color: white;
}

.project-image {
  aspect-ratio: 2/1;
}
