---
import { getCollection } from 'astro:content';
import ProjectCard from '../ProjectCard.astro';

const projects = (await getCollection('projects')).sort(
  (a, b) => b.data.order - a.data.order
);
---

<section
  id="projects"
  class="bg-white max-w-6xl flex flex-col items-center p-6 sm:py-8 lg:py-12 mx-auto scroll-mt-12 scroll-mt-14"
>
  <h2
    class="text-xl md:text-2xl lg:text-3xl font-bold text-accent text-center mb-4 lg:mb-8"
  >
    My Projects
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 sm:gap-6">
    {
      projects.map(({ body, data }) => (
        <ProjectCard project={data}>{body}</ProjectCard>
      ))
    }
  </div>
</section>
