<header
  class="w-full fixed border-b-2 border-primary bg-primary-light bg-opacity-85 backdrop-blur px-2 md:px-4 lg:px-6"
>
  <nav
    class="max-w-6xl flex justify-between items-center gap-6 text-sm sm:text-base p-3 md:p-4 m-auto"
  >
    <a href="#top" class="text-accent font-bold">miguel-tellez.dev</a>
    <div class="flex gap-2 sm:gap-3">
      <a href="#about" class="hover:text-primary">About</a>
      |
      <a href="#projects" class="hover:text-primary">Projects</a>
      |
      <a href="#contact" class="hover:text-primary">Contact</a>
    </div>
  </nav>
</header>
